<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <a href="https://www.bedbathandbeyond.com.mx/stores" target="_blank"
              ><img
                data-file-id="2457912"
                height="76"
                src="https://mcusercontent.com/740f3113b5531827e4f71b401/images/84de81a0-de6a-434b-6484-17ce9e9aaf2f.png"
                style="
                  border: 0px initial;
                  width: 50px;
                  height: auto;
                  margin: 0px;
                "
                width="130"
            /></a>
          </td>
          <td>
            <span style="font-size: 12px"
              ><strong
                ><span style="color: #002854">&nbsp; </span></strong
              ></span
            ><span style="font-size: 13px"
              ><strong
                ><a
                  href="https://www.bedbathandbeyond.com.mx/stores"
                  target="_blank"
                  ><span style="color: #002854"
                    ><span
                      style="font-family: tahoma, verdana, segoe, sans-serif"
                      >ubicaci&oacute;n de tiendas</span
                    ></span
                  ></a
                ></strong
              ></span
            >
          </td>
          <td style="padding-left: 100px">
            <a
              href="https://www.bedbathandbeyond.com.mx/gift-cards.html"
              target="_blank"
              ><img
                data-file-id="2457920"
                height="76"
                src="https://mcusercontent.com/740f3113b5531827e4f71b401/images/948d094c-da52-d379-6f01-6b169e708f48.jpg "
                style="
                  border: 0px initial;
                  width: 50px;
                  height: auto;
                  margin: 0px;
                "
                width="130"
            /></a>
          </td>
          <td>
            <span style="font-size: 12px"
              ><strong
                ><span style="color: #002854">&nbsp; </span></strong
              ></span
            ><span style="font-size: 13px"
              ><strong
                ><a
                  href="https://www.bedbathandbeyond.com.mx/stores"
                  target="_blank"
                  ><span style="color: #002854"
                    ><span
                      style="font-family: tahoma, verdana, segoe, sans-serif"
                      >tarjetas de regalo</span
                    ></span
                  ></a
                ></strong
              ></span
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.bedbathandbeyond.com.mx" target="_blank"
              ><img
                data-file-id="2457916"
                height="76"
                src="https://mcusercontent.com/740f3113b5531827e4f71b401/images/ca4da544-913a-4a92-b765-7d3c001228d5.png"
                style="border: 0px; width: 50px; height: auto; margin: 0px"
                width="130"
            /></a>
          </td>
          <td style="text-align: left">
            <span style="font-size: 12px"
              ><strong
                ><span style="color: #002854">&nbsp; </span></strong
              ></span
            ><span style="font-size: 13px"
              ><strong
                ><a
                  href="https://www.bedbathandbeyond.com.mx/stores"
                  target="_blank"
                  ><span style="color: #002854"
                    ><span
                      style="font-family: tahoma, verdana, segoe, sans-serif"
                      >cont&aacute;ctanos</span
                    ></span
                  ></a
                ></strong
              ></span
            >
          </td>
          <td style="padding-left: 100px">
            <a
              href="https://www.bedbathandbeyond.com.mx/mesa-de-regalos/mas-informacion.html"
              target="_blank"
              ><img
                data-file-id="2457924"
                height="76"
                src="https://mcusercontent.com/740f3113b5531827e4f71b401/images/cbdc0fde-52b8-d680-e01a-fc8e3c02ed52.jpg"
                style="
                  border: 0px initial;
                  width: 50px;
                  height: auto;
                  margin: 0px;
                "
                width="130"
            /></a>
          </td>
          <td>
            <span style="font-size: 12px"
              ><strong
                ><span style="color: #002854">&nbsp; </span></strong
              ></span
            ><span style="font-size: 13px"
              ><strong
                ><a
                  href="https://www.bedbathandbeyond.com.mx/stores"
                  target="_blank"
                  ><span style="color: #002854"
                    ><span
                      style="font-family: tahoma, verdana, segoe, sans-serif"
                      >mesas de regalo</span
                    ></span
                  ></a
                ></strong
              ></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!-- mailchimp -->
    <div style="text-align: center">
      <a
        href="https://www.bedbathandbeyond.com.mx/productos/cocina.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>cocina</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp; &nbsp;&nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/productos/recamara.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>rec&aacute;mara</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp; &nbsp;&nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/productos/bano.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>ba&ntilde;o</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp;&nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/productos/decoracion.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>decoraci&oacute;n</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp; &nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/productos/muebles-para-el-hogar.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>muebles</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp;&nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/productos/mesa.html"
        target="_blank"
      >
        <span style="color: #002854"><strong>mesa y bar</strong></span>
      </a>
      <span style="color: #002854">&nbsp; &nbsp;&nbsp;</span>

      <a
        href="https://www.bedbathandbeyond.com.mx/liquidacion.html"
        target="_blank"
      >
        <span style="color: #b22222"><strong>zona outlet</strong></span>
      </a>
    </div>

    <table></table>
  </body>
</html>
