<style>
* {
	 box-sizing: border-box;
}
 .mansory {
	 margin: 1em;
	 column-count: 3;
	 column-gap: 1em;
}
 .mansory > div {
	 width: 100%;
	 display: inline-block;
	 color: #fff;
	 padding: 1em;
	 margin-bottom: 1em;
}
 .mansory > div.h1 {
	 height: 200px;
	 background: #1d2939;
}
 .mansory > div.h2 {
	 height: 300px;
	 background: #1caf9a;
}
 .mansory > div.h3 {
	 height: 400px;
	 background: #ee6456;
}
 
</style>
<div class="mansory">
    <div class="h1">1</div>
    <div class="h2">2</div>
    <div class="h3">3</div>
    <div class="h1">4</div>
    <div class="h1">5</div>
    <div class="h3">6</div>
    <div class="h2">7</div>
    <div class="h1">8</div>
    <div class="h3">9</div>
    <div class="h1">10</div>
    <div class="h3">11</div>
    <div class="h2">12</div>
    <div class="h3">13</div>
    
  </div>