<style>
  /*PDP*/
  body input[type="text"],
  body input[type="password"],
  body input[type="url"],
  body input[type="tel"],
  body input[type="search"],
  body input[type="number"],
  body input[type="datetime"],
  body input[type="email"],
  body textarea,
  body select {
    border: 2px solid #9c9a9a;
  }
  body .product-info-right {
    top: 225px !important;
  }
  body .product-info-right .tit-tab {
    height: 40px !important;
  }
  body .product-info-right .tit-tab h4:after {
    color: #147bd1;
  }
  body .action.primary {
    background: #147bd1;
  }
  body .gallery-placeholder .fotorama__thumb-border {
    border-color: #1a4e8a;
  }
  body .review-form .review-form-actions .action.submit.primary {
    background: #147bd1;
  }
  body .action.primary:hover {
    background: #002854;
  }
  body
    .product-info-main
    .product-social-links
    .add-to-giftr
    .action.togiftr:before {
    color: #147bd1;
  }
  body .product-info-right .tit-tab h4 {
    font-size: 14px;
  }
  body .action.alert {
    color: #147bd1;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  body .info-tabs li button,
  body .info-tabs li a,
  body .info-tabs li p {
    color: #1a4e8a;
    font-weight: 900;
  }
  body .info-tabs {
    height: 56px;
  }
  body .info-tabs.fix.display {
    height: 56px;
  }
  body .info-tabs li button,
  body .info-tabs li a,
  body .info-tabs li p {
    font-size: 17px;
  }
  body .product.info .product.data.items .item.title .switch {
    font-weight: 600;
    color: #002854;
  }

  body .info-tabs li.tab.active:before {
    height: 5px;
    background: #1a4e8a;
  }
  .product.info.detailed .additional-attributes tr:nth-child(2n) {
    background: #daeaf4;
  }
  /*PLP*/
  body.catalog-category-view
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart,
  body.catalogsearch-result-index
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart {
    color: #147bd1;
  }

  body .block-compare .actions-toolbar .action.primary {
    background: #147bd1;
  }
  body #custom_popup_add .actions .action.primary {
    border: 2px solid #147bd1;
  }
  body #custom_popup_add .actions .action.primary.sec {
    color: #147bd1;
  }
  body .block-minicart .block-content > .actions > .secondary .action.viewcart {
    background: #147bd1;
  }
  body
    .block-minicart
    .minicart-items-wrapper
    .product-item-pricing
    .details-qty
    .update-cart-item {
    background: #147bd1;
  }
  body.catalog-category-view
    #maincontent
    .products-grid
    .product-item
    .weltpixel-quickview,
  body.catalogsearch-result-index
    #maincontent
    .products-grid
    .product-item
    .weltpixel-quickview {
    color: #147bd1;
  }
  body.catalog-category-view
    #maincontent
    .products-grid
    .product-item
    .weltpixel-quickview:hover,
  body.catalogsearch-result-index
    #maincontent
    .products-grid
    .product-item
    .weltpixel-quickview:hover {
    background: #147bd1;
    border-color: #147bd1;
  }
  body .action.alert {
    color: #147bd1;
  }
  body.catalog-category-view
    .column.main
    .product-info-main
    .product-add-form
    .box-tocart
    .action.tocart,
  body.catalogsearch-result-index
    .column.main
    .product-info-main
    .product-add-form
    .box-tocart
    .action.tocart,
  body.weltpixel-quickview-catalog-product-view
    .column.main
    .product-info-main
    .product-add-form
    .box-tocart
    .action.tocart,
  body.weltpixel_quickview-catalog_product-view
    .column.main
    .product-info-main
    .product-add-form
    .box-tocart
    .action.tocart {
    background: #147bd1;
  }
  body .action.primary {
    background: #147bd1;
  }
  body.catalog-category-view
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart:hover,
  body.catalogsearch-result-index
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart:hover {
    background: #147bd1;
    border-color: #147bd1;
  }
  body.catalog-category-view
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart,
  body.catalogsearch-result-index
    #maincontent
    .products-grid
    .product-item-info
    .product-item-actions
    .actions-primary
    .action.tocart {
    color: #147bd1;
    border: 2px solid #147bd1;
    border-radius: 5px;
  }
  @media screen and (max-width: 767px) {
    body.catalog-product-view .product-info-main .product-info-right {
      margin-bottom: 230px !important;
      margin-top: -120px;
    }
  }
</style>
