<style>
  .amsearch-item-container:not(.recent_searches) .amsearch-highlight {
    color: #147bd1;
    font-weight: 900;
    font-family: "Termina-Bold", "Trebuchet MS", Arial, sans-serif !important;
  }
  .amsearch-item-container.popular_searches .amasty-xsearch-block-header {
    color: #1a4e8a;
    font-weight: 900;
    font-family: "Termina-Bold", "Trebuchet MS", Arial, sans-serif !important;
  }
  .amsearch-products .amsearch-highlight {
    background-color: #58bbf9;
  }
  .amsearch-form-container.-large .amsearch-wrapper-content .tocart {
    padding: 2px 9px;
    font-size: 12px;
  }
  .amsearch-products .amasty-xsearch-block-header {
    padding: 0 15px 10px;
    color: #1a4e8a;
    font-family: "Termina-Bold", "Trebuchet MS", Arial, sans-serif !important;
  }
</style>
